#cover {
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
    border-radius: 10px;
}

.hide-page {
	display: none!important;
}


#clean-up {
    background-color: #00b3b3;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.4);
    border: 0.5px solid #0275d8;
    transition: all 0.3s ease-in-out;
}
 
#clean-up:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.6);
}
