<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Twitter - sentimental and political analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/static/css/heroic-features.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Sentimental and Polical Analysis</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plot">Plot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Forms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tableau</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-1 text-center">
        <p class="lead">
          This page will get a random twitter and do a sentimental analysis AND
          check if the text has political context. <br /><b
            >Using: Textblob , Human Classification, our own Module</b
          >
        </p>
        <a href="/" class="btn btn-primary btn-lg">Get a Twitter message</a>
      </header>


      <div class="row text-center">
        <div class="col-lg-12 col-md-6 mb-6">
          <h2>Twitter message</h2>
          <h4>{{result.text}}</h4> 
          <form method="POST" action="/predict">
            <input type="text" name='human'    value='{{result.module_sent_an}}' style="display:none"> 
            <input type="text" name='textblob' value='{{result.textblob}}' style="display:none"> 
            <input type="text" name='tweet'    value='{{result.text}}' style="display:none"> 
            <input type="submit" class="btn btn-primary btn-lg" value="Prediction">
          </form>
          <h4>{{result.prediction}}</h4>  
          <br>
        </div>
      </div>
      <!-- Page Features -->
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="h-75">
            <br />
            <h2><b>TextBlob</b></h2>
            <br>
            <div class="card-footer">
              <h4>{{result.textblob}}</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="h-75">
            <h2><b>Human Classification</b></h2>

            <div class="card-footer">
              <h4>{{result.module_sent_an}}</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="h-75">
            <br />
            <h2><b>Our Module</b></h2>
          </br>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="h-75">
              <br />
              <h2><b>Political</b></h2>
            </br>
         
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-4 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; UofT final Project Website 2019
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
