<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Twitter - sentimental and political analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/static/css/heroic-features.css" rel="stylesheet" />
    
    <!-- Load Twitter icon as favicon -->
    <link rel="icon" href="../static/images/favicon.ico"> 
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Sentimental and Polical Analysis</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plot">Plot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/predictinput">Forms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://public.tableau.com/profile/sumati2165#!/vizhome/Final_analysis/Story1?publish=yes" target="_blank">Tableau</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-1 text-center">
        <p class="lead">
          This page will get a random twitter message and do a sentimental analysis AND
          check if the text has political context. <br /><b
            >Textblob , Human Classification, and Models</b
          >
        </p>
        
        <a href="/" class="btn btn-primary btn-lg">Get a Twitter message</a>
      </header>
      <div class="row text-center">
        <div class="col-lg-12 col-md-6 mb-6">
          <h2><img src="/static/images/twitter.png" width="50" height="50">
          Twitter message</h2> <h3 class="text-info bg-dark">#{{result['#tag']}}</h3>
          <h5>{{result.text}}</h5> 
          <br>
        </div>
      </div>
      <div class="row text-center">
          <div class="col-lg-12 col-md-6 mb-6">
              <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col"><h3><b>TextBlob</b></h3></th>
                      <th scope="col"><h3><b>Human Classification</b></h3></th>
                      <th scope="col"><h3><b>Sentimental (Model)</b></h3></th>
                      <th scope="col"><h3><b>Political (Model)</b></h3></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>
                          <img id="smileFaceTextblo"></img>
                          <p hidden id="textValueTextblog">{{result.textblob}}</p>
                        </td>
                        <td>
                          <img id="smileFaceHuman"></img>
                          <p hidden id="textValueHuman">{{result.module_sent_an}}</p></td>
                        <td>
                            <img id="smileFaceModel"></img>
                            <p hidden id="textValueModel">{{result.model_sent_an}}</p> 
                        </td>
                        <td>
                            <img id="smileFacePolitic"></img>
                            <p hidden id="textValuePolitic">{{result.module_politics}}</p>  
                        </td>
                      </tr>
                    </tbody>
                  </table>
          </div>
        </div>
      
      <!-- /.row -->
    </div>
    <!-- /.container -->
<br><br>
    <!-- Footer -->
    <footer class="fixed-bottom py-4 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; UofT final Project Website 2019
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
