<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Twitter - sentimental and political analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/static/css/heroic-features.css" rel="stylesheet" />
    <link href="/static/css/input-page.css" rel="stylesheet" />

    <!-- Load Twitter icon as favicon -->
    <link rel="icon" href="../static/images/favicon.ico"> 

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Sentimental and Polical Analysis</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"
                >Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plot">Plot</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/predictinput">Forms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://public.tableau.com/profile/sumati2165#!/vizhome/Final_analysis/Story1?publish=yes" target="_blank">Tableau</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page content -->
    <section id="cover" class="mt-4">
      <div id="cover-caption">
          <div class="container">
              <div class="row text-white">
                  <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 mx-auto text-center">
                      <h1 class="display-4 py-2 text-truncate">Applying the Sentiment Model</h1>
                      <div class="">
                        <form class="w-100 pb-4" method="POST" action="/predicttext">
                          <div class="form-group">
                              <label style="font-size:20px;" for="text">Text to classify</label>
                              <input type="text" class="form-control" name='text' value='{{result.text}}'> 
                          </div>
                          <div class="form-group">
                              <label style="font-size:20px;" for="treated" >Text after treatment</label>
                              <input type="treated" class="form-control" name='treated' value='{{result.treated}}' disabled> 
                          </div>
                          <div class="w-100 d-flex flex-column align-items-center">
                            <div class="w-50 d-flex flex-row justify-content-around">  
                              <button id="btn_grab" type="submit" class="btn btn-primary my-4" style="width:220px;" name="action" value="grab_tweet">
                                <span id="span_grab" class=""></span>
                                Get tweet on the fly
                              </button>
                              <button id="btn_pred" type="submit" class="btn btn-primary my-4" style="width:220px;" name="action" value="predict">
                                  <span id="span_pred" class=""></span> 
                                  Apply the Model 
                              </button> 
                            </div>
                            <div class="square" style="height: 85px;width: 85px;">
                              <img style='height: 100%; width: 100%; object-fit: contain' src="../static/images/{{result.img}}.png" alt="Classification">
                            </div>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="fixed-bottom py-4 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; UofT final Project Website 2019
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      $("#btn_pred").click( function (index) {
        $("#span_pred").addClass('spinner-border spinner-border-sm');
      });      
      $("#btn_grab").click( function (index) {
        $("#span_grab").addClass('spinner-border spinner-border-sm');
      });      
    </script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/plot.js"></script>
  </body>
</html>
